<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.SysOperLogMapper">
  <resultMap id="BaseResultMap" type="com.powernode.domain.SysOperLog">
    <!--@mbg.generated-->
    <!--@Table sys_oper_log-->
    <id column="oper_id" jdbcType="BIGINT" property="operId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="request_method" jdbcType="VARCHAR" property="requestMethod" />
    <result column="oper_name" jdbcType="VARCHAR" property="operName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="oper_url" jdbcType="VARCHAR" property="operUrl" />
    <result column="oper_ip" jdbcType="VARCHAR" property="operIp" />
    <result column="oper_location" jdbcType="VARCHAR" property="operLocation" />
    <result column="oper_param" jdbcType="VARCHAR" property="operParam" />
    <result column="json_result" jdbcType="VARCHAR" property="jsonResult" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    oper_id, title, business_type, `method`, request_method, oper_name, user_id, oper_url, 
    oper_ip, oper_location, oper_param, json_result, `status`, error_msg, oper_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_oper_log
    where oper_id = #{operId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sys_oper_log
    where oper_id = #{operId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="oper_id" keyProperty="operId" parameterType="com.powernode.domain.SysOperLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_oper_log (title, business_type, `method`, 
      request_method, oper_name, user_id, 
      oper_url, oper_ip, oper_location, 
      oper_param, json_result, `status`, 
      error_msg, oper_time)
    values (#{title,jdbcType=VARCHAR}, #{businessType,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR}, 
      #{requestMethod,jdbcType=VARCHAR}, #{operName,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{operUrl,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR}, #{operLocation,jdbcType=VARCHAR}, 
      #{operParam,jdbcType=VARCHAR}, #{jsonResult,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{errorMsg,jdbcType=VARCHAR}, #{operTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="oper_id" keyProperty="operId" parameterType="com.powernode.domain.SysOperLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_oper_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="method != null">
        `method`,
      </if>
      <if test="requestMethod != null">
        request_method,
      </if>
      <if test="operName != null">
        oper_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="operUrl != null">
        oper_url,
      </if>
      <if test="operIp != null">
        oper_ip,
      </if>
      <if test="operLocation != null">
        oper_location,
      </if>
      <if test="operParam != null">
        oper_param,
      </if>
      <if test="jsonResult != null">
        json_result,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="errorMsg != null">
        error_msg,
      </if>
      <if test="operTime != null">
        oper_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null">
        #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="operName != null">
        #{operName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="operUrl != null">
        #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null">
        #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null">
        #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="jsonResult != null">
        #{jsonResult,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        #{operTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.powernode.domain.SysOperLog">
    <!--@mbg.generated-->
    update sys_oper_log
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        `method` = #{method,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null">
        request_method = #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="operName != null">
        oper_name = #{operName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="operUrl != null">
        oper_url = #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        oper_ip = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null">
        oper_location = #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null">
        oper_param = #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="jsonResult != null">
        json_result = #{jsonResult,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oper_id = #{operId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.powernode.domain.SysOperLog">
    <!--@mbg.generated-->
    update sys_oper_log
    set title = #{title,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=INTEGER},
      `method` = #{method,jdbcType=VARCHAR},
      request_method = #{requestMethod,jdbcType=VARCHAR},
      oper_name = #{operName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      oper_url = #{operUrl,jdbcType=VARCHAR},
      oper_ip = #{operIp,jdbcType=VARCHAR},
      oper_location = #{operLocation,jdbcType=VARCHAR},
      oper_param = #{operParam,jdbcType=VARCHAR},
      json_result = #{jsonResult,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      oper_time = #{operTime,jdbcType=TIMESTAMP}
    where oper_id = #{operId,jdbcType=BIGINT}
  </update>

  <!--查询-->
  <select id="queryAllOperLog" resultMap="BaseResultMap">
    select *
    from sys_oper_log
    <where>
      <if test="params.title != null and params.title != ''">
        and title like concat('%', #{params.title}, '%')
      </if>
      <if test="params.businessType != null">
        and business_type = #{params.businessType}
      </if>
      <if test="params.startTime != null">
        and oper_time <![CDATA[ >= ]]> #{params.startTime}
      </if>
      <if test="params.endTime != null">
        and oper_time <![CDATA[<=]]> #{params.endTime}
      </if>
    </where>
    order by oper_time desc
  </select>
  <!--根据ID集合删除-->
  <delete id="deleteByPrimaryKeys">
    delete
    from sys_oper_log
    <where>
      <foreach item="id" collection="ids" open="info_id in (" close=")" separator=",">
        #{id}
      </foreach>
    </where>
  </delete>
  <!--清空-->
  <delete id="deleteAllOperLog">
    delete
    from sys_oper_log
  </delete>


</mapper>